
<div class="container-fluid">
	<p class="page-title">Error</p>
	<p>{{ errorMessage }}</p>
</div>

<script type="text/javascript" src="/common/ajax-functions.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script type="text/javascript" src="/controllers/createPollController.client.js"></script>
<script type="text/javascript" src="/controllers/userController.client.js"></script>