<div class='container-fluid'>
<p class="page-title">All Polls</p>
{{#each polls}}
    <a href='polls/{{ this.urlHash }}'>
        <div class='poll-detail'>{{ this.question }}</div>
    </a>
{{/each}}   
</div>