<div class="entry">
    <h1>{{poll.question}}</h1>
    <ul>
    {{#each poll.optionsInPoll}}
    <li>{{this.text}}</li>
    {{/each}}
    </ul>
</div>
<script type="text/javascript" src="/common/ajax-functions.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script type="text/javascript" src="/controllers/viewPollController.client.js"></script>